<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BBChess - <%=player.fName%></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <div class="profile-head">
            <div style="width: 5vw;">
                <a href="/players">Back to players</a>
                <br>
                <a href="/">Back to home</a>
            </div>
            <div class="profile-head-left">
                <h1 class="heading"><%=player.fName %><span class="nickname"><%= (player.nickName) ? (' "' + player.nickName + '"') : ""%></span> <%=player.sName%></h1>
                <p style="font-weight: 600;"><span class="wins"><%=player.wins%></span>/<span class="losses"><%=player.losses%></span>/<%=player.draws%></p>
                <p>Age: <%=player.age%></p>
                <p>DoB: <%=player.dobStr%></p>
            </div>
            <div>
                <img src="/images/profiles/<%= player.photoPath %>" alt="Player profile photo" style="height: 350px; width: auto;">
            </div>
            <div class="elo-list">
                <% if(player.lichessUN !== null) {%>
                    <h4>Lichess</h4>
                    <a target="_blank" href=<%=player.links.lichess%>><%=player.lichessUN%></a>
                    <p>Elo: <%=player.rating.lichessElo%></p>
                <%}%>
                <% if(player.chessComUN !== null) {%>
                    <h4>Chess.com</h4>
                    <a target="_blank" href=<%=player.links.chessCom%>><%=player.chessComUN%></a>
                    <p>Current Elo: <%=player.rating.chessComLastElo%></p>
                    <p>Peak Elo: <%=player.rating.chessComBestElo%></p>
                <%}%>
                <h4>BBC Elo</h4>
                <%=parseInt(player.bbcElo)%>
            </div>
            <div>
                <h3>Achievements:</h3>
                <% player.achievements.forEach(achievement => { %>
                    <p>🏆<%=achievement.achievement%></p>
                <% }); %>
            </div>
        </div>
        <div>
            <h2 class="section-title"><a style="font-weight:inherit; color:inherit;text-decoration:none;" href="/tournaments">Tournaments:</a></h2>
            <% player.tournaments.forEach(tournament => { %>
                <div class="tournament-card">
                    <a href="/tournaments/<%=tournament.slug%>" class="tournament-title"><%=tournament.name%></a>
                    <p class="position position-<%=tournament.finalPosition%>">Placing: <%=tournament.finalPosition%></p>
                </div>
            <% }); %>
        </div>
        <div>
            <h2 class="section-title">Games:</h2>
            <% player.games.forEach(game => { %>
                <div class="game-container">
                    <div class="game-card">
                        <p class="result-<%=game.resultStr%>"><%=game.resultStr%></p>
                        <p><span style="background-color: white; border-radius: 15px;">White</span> - <a style="font-weight:inherit; color:inherit;text-decoration:none;" href="/players/<%=game.whiteName%>"><%=game.whiteName%></a></p>
                        <p><%=game.result%></p>
                        <p><a style="font-weight:inherit; color:inherit;text-decoration:none;" href="/players/<%=game.blackName%>"><%=game.blackName%></a> - <span style="background-color: rgb(24, 24, 24); border-radius: 15px; color: rgb(231, 231, 231);">Black</span></p>
                        <p><%= (game.locationID == 1) ? "Online" : "OTB" %></p>
                        <p><%=game.dateStr%></p>
                        <a target="_blank" href="https://lichess.org/<%=game.link%>"><%= (game.link) ? "View game" : ""%></a>
                        <button class="notes-<%=(game.notes !== null)%> notes-button"><%= (game.notes) ? "View notes" : ""%></button>
                    </div>
                    <div class="notes-section note-active-false">
                        <p><%= game.notes %></p>
                    </div>
                </div>
            <% }); %>
        </div>
    <script src="/js/main.js"></script>
    </body>


</html>