<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BBChess - <%=player.fName%></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <div class="profile-head">
            <div style="width: 5vw;">
                <a href="/players">Back to players</a>
                <br>
                <a href="/">Back to home</a>
            </div>
            <div style="width: 28vw;">
                <h1 class="heading"><%=player.fName %><span class="nickname"><%= (player.nickName) ? (' "' + player.nickName + '"') : ""%></span> <%=player.sName%></h1>
                <p><span style="color: green;"><%=player.wins%></span>/<span style="color: red;"><%=player.losses%></span>/<%=player.draws%></p>
                <p>Age: <%=player.age%></p>
            </div>
            <div>
                <img src="/images/profiles/<%= player.photoPath %>" alt="Player 1 profile photo" style="height: 350px; width: auto;">
            </div>
            <div>
                <% if(player.lichessUN !== null) {%>
                    <h4>Lichess</h4>
                    <a target="_blank" href=<%=player.links.lichess%>><%=player.lichessUN%></a>
                    <p>Elo: <%=player.rating.lichessElo%></p>
                <%}%>
                <% if(player.chessComUN !== null) {%>
                    <h4>Chess.com</h4>
                    <a target="_blank" href=<%=player.links.chessCom%>><%=player.chessComUN%></a>
                    <p>Current Elo: <%=player.rating.chessComLastElo%></p>
                    <p>Peak Elo: <%=player.rating.chessComBestElo%></p>
                <%}%>
            </div>
        </div>
        <div>
            <h2>Tournaments:</h2>
            <% player.tournaments.forEach(tournament => { %>
                <p><%=tournament.name%></p>
                <p>Placing: <%=tournament.finalPosition%></p>
            <% }); %>
        </div>
        <div>
            <h2>Games:</h2>
            <% player.games.forEach(game => { %>
                <div class="game-card">
                    <p class="result-<%=game.resultStr%>"><%=game.resultStr%></p>
                    <p><span style="background-color: white; border-radius: 15px;">White</span> - <a style="font-weight:inherit; color:inherit;text-decoration:none;" href="/players/<%=game.whiteName%>"><%=game.whiteName%></a></p>
                    <p><%=game.result%></p>
                    <p><a style="font-weight:inherit; color:inherit;text-decoration:none;" href="/players/<%=game.blackName%>"><%=game.blackName%></a> - <span style="background-color: rgb(24, 24, 24); border-radius: 15px; color: rgb(231, 231, 231);">Black</span></p>
                    <p><%=game.date%></p>
                    <a target="_blank" href="https://lichess.org/<%=game.link%>"><%= (game.link) ? "View game" : ""%></a>
                </div>
            <% }); %>
        </div>
    </body>


</html>