<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BBChess - <%=tournament.name%></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <div class="tournament-head">
            <div style="width: 5vw;">
                <a href="/tournaments">Back to tournaments</a>
                <br>
                <a href="/">Back to home</a>
            </div>
            <div>
                <img src="/images/tournaments/<%=tournament.photoPath%>" alt="Cover photo for the tournament">
            </div>
            <div style="width: 28vw;">
                <h1 class="heading"><%=tournament.name %></h1>
                <p><%= tournament.description %></p>
                <p><%= tournament.startDate %> - <%= tournament.endDate %></p>
                <p>⌛ <%= tournament.timeControl %> (<%= tournament.baseTime %> + <%= tournament.bonusTime %>)</p>
            </div>
        </div>
        <div>
            <h2 class="section-title">Rankings:</h2>
            <% tournament.players.forEach(player => { %>
                <div>
                    <p><%= player.finalPosition %></p>
                    <a href="/players/<%= player.fName %>" style="font-weight:inherit; color:inherit;text-decoration:none;"><%= player.fName %><%= player.sName %></a>
                </div>
            <% }); %>
        </div>
        <div>
            <h2 class="section-title">Games:</h2>
            <% tournament.games.forEach(game => { %>
                <div class="game-card">
                    <p class="result-<%=game.resultStr%>"><%=game.resultStr%></p>
                    <p><span style="background-color: white; border-radius: 15px;">White</span> - <a style="font-weight:inherit; color:inherit;text-decoration:none;" href="/players/<%=game.whiteName%>"><%=game.whiteName%></a></p>
                    <p><%=game.result%></p>
                    <p><a style="font-weight:inherit; color:inherit;text-decoration:none;" href="/players/<%=game.blackName%>"><%=game.blackName%></a> - <span style="background-color: rgb(24, 24, 24); border-radius: 15px; color: rgb(231, 231, 231);">Black</span></p>
                    <p><%=game.date%></p>
                    <a target="_blank" href="https://lichess.org/<%=game.link%>"><%= (game.link) ? "View game" : ""%></a>
                    <button class="notes-<%=(game.notes !== null)%>"><%= (game.notes) ? "View notes" : ""%></button>
                </div>
            <% }); %>
        </div>
    </body>


</html>